mkralj_aplikacija_2_webModul/src/conf/xml-resources/web-service-references/SOAPwsApp1/wsdl/localhost_8084/mkralj_aplikacija_1/SOAPwsApp1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.servisi.mkralj.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.servisi.mkralj.nwtis.foi.org/" name="SOAPwsApp1">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.servisi.mkralj.nwtis.foi.org/" schemaLocation="http://localhost:8084/mkralj_aplikacija_1/SOAPwsApp1?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.dkermek.nwtis.foi.org/" schemaLocation="http://localhost:8084/mkralj_aplikacija_1/SOAPwsApp1?xsd=2"/>
</xsd:schema>
</types>
<message name="dajIntervalMqtt">
<part name="parameters" element="tns:dajIntervalMqtt"/>
</message>
<message name="dajIntervalMqttResponse">
<part name="parameters" element="tns:dajIntervalMqttResponse"/>
</message>
<message name="dajBrojPorukaOdMqtt">
<part name="parameters" element="tns:dajBrojPorukaOdMqtt"/>
</message>
<message name="dajBrojPorukaOdMqttResponse">
<part name="parameters" element="tns:dajBrojPorukaOdMqttResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dajUdaljenostKm">
<part name="parameters" element="tns:dajUdaljenostKm"/>
</message>
<message name="dajUdaljenostKmResponse">
<part name="parameters" element="tns:dajUdaljenostKmResponse"/>
</message>
<message name="dajAerodromeUGranicama">
<part name="parameters" element="tns:dajAerodromeUGranicama"/>
</message>
<message name="dajAerodromeUGranicamaResponse">
<part name="parameters" element="tns:dajAerodromeUGranicamaResponse"/>
</message>
<message name="dajPotrebneLetove">
<part name="parameters" element="tns:dajPotrebneLetove"/>
</message>
<message name="dajPotrebneLetoveResponse">
<part name="parameters" element="tns:dajPotrebneLetoveResponse"/>
</message>
<message name="blokirajAerodromGrupi">
<part name="parameters" element="tns:blokirajAerodromGrupi"/>
</message>
<message name="blokirajAerodromGrupiResponse">
<part name="parameters" element="tns:blokirajAerodromGrupiResponse"/>
</message>
<message name="dajPodatkeOLetovimaAviona">
<part name="parameters" element="tns:dajPodatkeOLetovimaAviona"/>
</message>
<message name="dajPodatkeOLetovimaAvionaResponse">
<part name="parameters" element="tns:dajPodatkeOLetovimaAvionaResponse"/>
</message>
<message name="dajPodatkeSvihKorisnika">
<part name="parameters" element="tns:dajPodatkeSvihKorisnika"/>
</message>
<message name="dajPodatkeSvihKorisnikaResponse">
<part name="parameters" element="tns:dajPodatkeSvihKorisnikaResponse"/>
</message>
<message name="dajZadnjePreuzetePodatkeAviona">
<part name="parameters" element="tns:dajZadnjePreuzetePodatkeAviona"/>
</message>
<message name="dajZadnjePreuzetePodatkeAvionaResponse">
<part name="parameters" element="tns:dajZadnjePreuzetePodatkeAvionaResponse"/>
</message>
<message name="dajMeteoPodatkeAerodroma">
<part name="parameters" element="tns:dajMeteoPodatkeAerodroma"/>
</message>
<message name="dajMeteoPodatkeAerodromaResponse">
<part name="parameters" element="tns:dajMeteoPodatkeAerodromaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="dajPodatkeOLetovimaPoletjelim">
<part name="parameters" element="tns:dajPodatkeOLetovimaPoletjelim"/>
</message>
<message name="dajPodatkeOLetovimaPoletjelimResponse">
<part name="parameters" element="tns:dajPodatkeOLetovimaPoletjelimResponse"/>
</message>
<message name="dajStatusAerodromaGr">
<part name="parameters" element="tns:dajStatusAerodromaGr"/>
</message>
<message name="dajStatusAerodromaGrResponse">
<part name="parameters" element="tns:dajStatusAerodromaGrResponse"/>
</message>
<message name="dajZadnjihNPreuzetePodatkeAviona">
<part name="parameters" element="tns:dajZadnjihNPreuzetePodatkeAviona"/>
</message>
<message name="dajZadnjihNPreuzetePodatkeAvionaResponse">
<part name="parameters" element="tns:dajZadnjihNPreuzetePodatkeAvionaResponse"/>
</message>
<message name="aktivirajAerodromGrupi">
<part name="parameters" element="tns:aktivirajAerodromGrupi"/>
</message>
<message name="aktivirajAerodromGrupiResponse">
<part name="parameters" element="tns:aktivirajAerodromGrupiResponse"/>
</message>
<message name="dajPodatkeOLetovimaAvionaAerodromi">
<part name="parameters" element="tns:dajPodatkeOLetovimaAvionaAerodromi"/>
</message>
<message name="dajPodatkeOLetovimaAvionaAerodromiResponse">
<part name="parameters" element="tns:dajPodatkeOLetovimaAvionaAerodromiResponse"/>
</message>
<portType name="SOAPwsApp1">
<operation name="dajIntervalMqtt">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajIntervalMqttRequest" message="tns:dajIntervalMqtt"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajIntervalMqttResponse" message="tns:dajIntervalMqttResponse"/>
</operation>
<operation name="dajBrojPorukaOdMqtt">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajBrojPorukaOdMqttRequest" message="tns:dajBrojPorukaOdMqtt"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajBrojPorukaOdMqttResponse" message="tns:dajBrojPorukaOdMqttResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dajUdaljenostKm">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajUdaljenostKmRequest" message="tns:dajUdaljenostKm"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajUdaljenostKmResponse" message="tns:dajUdaljenostKmResponse"/>
</operation>
<operation name="dajAerodromeUGranicama">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajAerodromeUGranicamaRequest" message="tns:dajAerodromeUGranicama"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajAerodromeUGranicamaResponse" message="tns:dajAerodromeUGranicamaResponse"/>
</operation>
<operation name="dajPotrebneLetove">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPotrebneLetoveRequest" message="tns:dajPotrebneLetove"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPotrebneLetoveResponse" message="tns:dajPotrebneLetoveResponse"/>
</operation>
<operation name="blokirajAerodromGrupi">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/blokirajAerodromGrupiRequest" message="tns:blokirajAerodromGrupi"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/blokirajAerodromGrupiResponse" message="tns:blokirajAerodromGrupiResponse"/>
</operation>
<operation name="dajPodatkeOLetovimaAviona">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeOLetovimaAvionaRequest" message="tns:dajPodatkeOLetovimaAviona"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeOLetovimaAvionaResponse" message="tns:dajPodatkeOLetovimaAvionaResponse"/>
</operation>
<operation name="dajPodatkeSvihKorisnika">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeSvihKorisnikaRequest" message="tns:dajPodatkeSvihKorisnika"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeSvihKorisnikaResponse" message="tns:dajPodatkeSvihKorisnikaResponse"/>
</operation>
<operation name="dajZadnjePreuzetePodatkeAviona">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajZadnjePreuzetePodatkeAvionaRequest" message="tns:dajZadnjePreuzetePodatkeAviona"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajZadnjePreuzetePodatkeAvionaResponse" message="tns:dajZadnjePreuzetePodatkeAvionaResponse"/>
</operation>
<operation name="dajMeteoPodatkeAerodroma">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajMeteoPodatkeAerodromaRequest" message="tns:dajMeteoPodatkeAerodroma"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajMeteoPodatkeAerodromaResponse" message="tns:dajMeteoPodatkeAerodromaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="dajPodatkeOLetovimaPoletjelim">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeOLetovimaPoletjelimRequest" message="tns:dajPodatkeOLetovimaPoletjelim"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeOLetovimaPoletjelimResponse" message="tns:dajPodatkeOLetovimaPoletjelimResponse"/>
</operation>
<operation name="dajStatusAerodromaGr">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajStatusAerodromaGrRequest" message="tns:dajStatusAerodromaGr"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajStatusAerodromaGrResponse" message="tns:dajStatusAerodromaGrResponse"/>
</operation>
<operation name="dajZadnjihNPreuzetePodatkeAviona">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajZadnjihNPreuzetePodatkeAvionaRequest" message="tns:dajZadnjihNPreuzetePodatkeAviona"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajZadnjihNPreuzetePodatkeAvionaResponse" message="tns:dajZadnjihNPreuzetePodatkeAvionaResponse"/>
</operation>
<operation name="aktivirajAerodromGrupi">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/aktivirajAerodromGrupiRequest" message="tns:aktivirajAerodromGrupi"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/aktivirajAerodromGrupiResponse" message="tns:aktivirajAerodromGrupiResponse"/>
</operation>
<operation name="dajPodatkeOLetovimaAvionaAerodromi">
<input wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeOLetovimaAvionaAerodromiRequest" message="tns:dajPodatkeOLetovimaAvionaAerodromi"/>
<output wsam:Action="http://soap.servisi.mkralj.nwtis.foi.org/SOAPwsApp1/dajPodatkeOLetovimaAvionaAerodromiResponse" message="tns:dajPodatkeOLetovimaAvionaAerodromiResponse"/>
</operation>
</portType>
<binding name="SOAPwsApp1PortBinding" type="tns:SOAPwsApp1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajIntervalMqtt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajBrojPorukaOdMqtt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajUdaljenostKm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeUGranicama">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPotrebneLetove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blokirajAerodromGrupi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPodatkeOLetovimaAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPodatkeSvihKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjePreuzetePodatkeAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPodatkeOLetovimaPoletjelim">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajStatusAerodromaGr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjihNPreuzetePodatkeAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aktivirajAerodromGrupi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPodatkeOLetovimaAvionaAerodromi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SOAPwsApp1">
<port name="SOAPwsApp1Port" binding="tns:SOAPwsApp1PortBinding">
<soap:address location="http://localhost:8084/mkralj_aplikacija_1/SOAPwsApp1"/>
</port>
</service>
</definitions>